* {
    margin: 0px;
    padding: 0px;
}
/* CSS vem aqui em baixo */ 
header{
    /*background-color: rgb(124, 100, 166);*/
    background-color: rgb(99, 104, 74);
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    font-weight: bold;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:white;
    font-size: larger;
}

body a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
body a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: gainsboro;
}

#apres{
    /*background-color: rgb(124, 100, 166);*/
    background-color: rgb(99, 104, 74);
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#apres h1{
    display: flex;
    align-self: flex-start; 
}

#contatos{
    padding-top: 25px;
}

#sobre{
   padding-top: 25px;
   display: flex;
   gap: 50px;
   margin-inline: 50px;
}

#habil{
    padding-top: 35px;
    padding-bottom: 35px;
    margin-inline: 50px;
    /*display: flex;
    flex-direction: row;
    justify-self: center;*/
}

.habil h3{
    text-align: center;
    gap: 30px;
    padding-top: 15px;
}

.habilidadeBloco{
    display: flex;
    flex-direction:column;
}

.habilidadeContainer{
    padding-block: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer{
    background-color: rgb(90, 99, 69);
}

footer p{
    color: white
}

.icone{
    fill:white;
    stroke: black;
    stroke-width: 10px;
    width: 70px;
    height: 70px;
}

footer ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.iconeSobre {
    width: 60px;
    height: 60px; 
}

.linksIcon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}