* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*----------HEADER----------------*/

header {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    padding: 15px 20px;
    background-color: rgb(99, 104, 74);
    padding: 10px 0px;
}

header a {
    color: black;
    /*text-transform: uppercase;*/
    text-decoration: none;
    gap: 10px;
}

.ApresentaçãoCONTAINER {
    background-color: rgb(99, 104, 74);
    padding-top: 25px;
}

.apres {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----------MAIN----------------*/


body {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    padding-bottom: 60px;
}

#sobre{
   padding-top: 25px;
   display: flex;
   gap: 50px;
   margin-inline: 50px;
}

.linksIcon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.iconeSobre {
    width: 60px;
    height: 60px; 
}

/*#apres h3{
    display: flex;
    align-self: flex-start; 
}*/

/*#contatos{
    padding-top: 25px;
}*/

/*#habil{
   padding-top: 35px;
    padding-bottom: 35px;
    margin-inline: 50px;
    display: flex;
    flex-direction: row;
    justify-self: center;
}*/

.habil h3 {
    text-align: center;
    /*gap: 30px;*/
    padding-top: 15px;
}

.CARTAO ul {
    border: 1px solid green;
    border-radius: 15px;

    width: 100%;

    border-radius: 25px;
    background-color: rgb(183, 189, 153);
    padding: 20px 15px;
    min-height: 100px;
    height: 120px;
    list-style: none;
    text-align: center;
    font-size: medium ;
}

.CARTAO {
    text-align: center;
}


/* =================DIV GERAL DOS CARTOES: Estiliza GERAL... em tese ==================== */

.habilidadeGRUPO{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

/*----------FOOTER----------------*/

footer {
    background-color: rgb(90, 99, 69);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
    border: 1.5px solid black;
    font-size: 25px;
    font-style: italic;
    width: 100%;
}

footer p{
    color: white;
    font-size: 15px;
}

footer h5{
    color: black;
    font-size: 20px;
}

.icone {
    fill:white;
    stroke: black;
    stroke-width: 10px;
    width: 30px;
    height: 40px;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/*TESTE DE MEDIA QUERIE*/

/* Celulares (até 600px) */
 
@media only screen and (max-width: 600px) {
    body {
       font-size: large; 
    }
     header {
        font-size: large;
        background-color: burlywood;
    }
    .CARTAO {
        background-color: burlywood;
        width: 75%;
        padding-top: 25px;
        border: 2px solid black;
    }
    
    .CARTAO ul {
        border: 0px solid black;
        background-color: burlywood;
        padding: 15px 15px;
    }

    .habil h3 {
    text-align: center;
    padding: 15px 15px;
    }

    footer {
        background-color: burlywood;
        padding-top: 15px;
    }

    #sobre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-inline: 50px;
    }

    .iconeSobre {
    width: 40px;
    height: 40px; 
    stroke-width: 5px;
    }

    .icone {
    fill:black;
    stroke: black;
    stroke-width: 15px;
    width: 45px;
    height: 40px;
    }


    .ApresentaçãoCONTAINER {
    background-color: burlywood;
    padding-top: 25px;
    }

    #aka {
        color: black;
        font-weight: bolder;
    }
}

/* Tablets (601px até 991px) */
 
@media only screen and (min-width: 601px) {
    body {
       font-size: large; 
    }
     header {
        font-size: large;
        background-color: rgb(3, 175, 175);
    }
    .CARTAO {
        background-color: rgb(3, 175, 175);
        width: 75%;
        padding-top: 25px;
        border: 2px solid black;
    }
    
    .CARTAO ul {
        border: 0px solid black;
        background-color: rgb(3, 175, 175);
        padding: 15px 15px;
    }

    .habil h3 {
    text-align: center;
    padding: 15px 15px;
    }

    footer {
        background-color: rgb(3, 175, 175);
        padding-top: 15px;
    }

    #sobre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-inline: 50px;
    }

    .iconeSobre {
    width: 40px;
    height: 40px; 
    stroke-width: 5px;
    }

    .icone {
    fill:black;
    stroke: black;
    stroke-width: 15px;
    width: 45px;
    height: 40px;
    }

    .ApresentaçãoCONTAINER {
    background-color: rgb(3, 175, 175);
    padding-top: 25px;
    }

    #aka {
        color: black;
        font-weight: bolder;
    }
}

/* Computadores */

@media only screen and (min-width: 992px) {
     body {
       font-size: large; 
    }
     header {
        font-size: large;
        background-color: rgb(99, 104, 74);
    }
    .CARTAO {
        background-color: rgb(99, 104, 74);
        width: 35%;
        padding-top: 25px;
        border: 2px solid black;
        color: white;
    }
    
    .CARTAO ul {
        border: 0px solid black;
        background-color: rgb(99, 104, 74);
        padding: 15px 15px;
    }

    .habil h3 {
    text-align: center;
    padding: 15px 15px;
    }

    footer {
        background-color: rgb(99, 104, 74);
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    #sobre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-inline: 50px;
    }

    .iconeSobre {
    width: 40px;
    height: 40px; 
    stroke-width: 5px;
    }

    .icone {
    fill:black;
    stroke: black;
    stroke-width: 15px;
    width: 45px;
    height: 40px;
    }

    .ApresentaçãoCONTAINER {
    background-color: rgb(99, 104, 74);
    padding-top: 25px;
    }

    #aka {
        color: black;
        font-weight: bolder;
    }
}
